## example 1 : Odd or even

In [1]:
listofnumbers = [1,2,3,4,5.5,6,7,8,9.5]

for no in listofnumbers:
    print(no)
    if (no%2==0):
        print("this is even")
    else:
        print("this is odd")

print("all is complete")

1
this is odd
2
this is even
3
this is odd
4
this is even
5.5
this is odd
6
this is even
7
this is odd
8
this is even
9.5
this is odd
all is complete

## example 2 : random normal distribution

In [2]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print (A)

[20.76597267 17.22384425 22.93650385 25.1693544  18.44097357 13.704188
 28.2860631  35.14917263 38.15251841  8.89005289]

In [3]:
## Lists

In [4]:
x = [1, 2, 3, 4, 5, 6]
print(len(x))
print(x[0],x[5])

print("the list is starting")
for l in x:
    print(l)

print("the list is printed")

6
1 6
the list is starting
1
2
3
4
5
6
the list is printed

In [5]:
print(x[:3])
print(x[3:])
print(x[-2:])
print(x[:-3])

[1, 2, 3]
[4, 5, 6]
[5, 6]
[1, 2, 3]

In [6]:
x.extend([7,8])
print(x)

x.append(9)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
y = [10, 11, 12]
listOfLists = [x, y]
print(listOfLists)

print(listOfLists[1])
print(listOfLists[0][4])
print(listOfLists[0][:3])

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]
[10, 11, 12]
5
[1, 2, 3]

In [8]:
z = [3, 2, 1]
z.sort()
print(z)

z.sort(reverse=True)
print(z)

z.pop(2)
print(z)

[1, 2, 3]
[3, 2, 1]
[3, 2]

## Tuples

In [9]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [10]:
y = (4, 5, 6)
y[2]

6

In [11]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [12]:
(age, income) = "35,110000".split(',')
print(age)
print(income)

35
110000

## Dictionaries

In [13]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [14]:
print(captains.get("Enterprise"))

Kirk

In [15]:
print(captains.get("NX-01"))

None

In [16]:
for ship in captains:
    print(ship+ ":"+ captains[ship])

Enterprise:Kirk
Enterprise D:Picard
Deep Space Nine:Sisko
Voyager:Janeway

## Functions

In [17]:
def squareno(x):
    y = x*x
    return y

print(squareno(5))

25

In [18]:
#You can pass functions around as parameters
def executefn(f,n):
    return f(n)

print(executefn(squareno,6))

36

## Lambda functions

In [19]:
## example 1

print(executefn(lambda x: x*x+x ,5))

30

In [20]:
## example 2

def executefn(f,m,n):
    return f(m,n)

print(executefn(lambda x,y: y*y/x,6,2))

0.6666666666666666

In [21]:
## example mean

def executefn(f,m):
    return f(m)

import statistics
list = [1,2,3,4,5,6,7,8,9,10]
print(executefn(lambda x: statistics.mean(x),list))

5.5

## Boolean Expressions

In [22]:
print(1 == 3)

False

In [23]:
print(True or False)
print(True and False)

True
False

In [24]:
print(1 is 3)

False

In [25]:
if 1==3:
    print("No way")
elif 1>3:
    print("come on ??")
else:
    print("Thats Right!!")

Thats Right!!

## Looping

In [26]:
for n in range(22):
    print(n+n/2)

0.0
1.5
3.0
4.5
6.0
7.5
9.0
10.5
12.0
13.5
15.0
16.5
18.0
19.5
21.0
22.5
24.0
25.5
27.0
28.5
30.0
31.5

In [27]:
for x in range(12):
    if (x>1 and x<10):
        continue
    elif (x==10):
        break
        
print(x)

10

In [28]:
x = 0
while(x < 10):
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9